<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Angular</title>
		<script type="text/javascript" src="../js/angular.min.js"></script>
	</head>

	<body>
		<div ng-app="apps" ng-controller="myController">
			<div>
				<input type="text" name="name" ng-model="name"/>
				<input type="button" value="clear" ng-click="clearVal()"/>
			</div>
			<div>
				hello,<span ng-bind="name"></span>
			</div>
		</div>
		<script type="text/javascript">
			var apps=angular.module('apps', []);
			apps.controller('myController',['$scope',function($scope){
				$scope.name="kynchen";
				$scope.clearVal=function(){
					$scope.name="";
				}
			}]);
		</script>
	</body>

</html>